name: Databricks MLOps CI/CD

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Run Unit Tests & Lintin
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set Up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.9"

      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install pytest flake8

  deploy:
    name: Deploy to Databricks
    runs-on: ubuntu-latest
    needs: build

    env:
      DATABRICKS_HOST: ${{ secrets.DATABRICKS_HOST }}
      DATABRICKS_TOKEN: ${{ secrets.DATABRICKS_TOKEN }}
      REPO_PATH: /Repos/ml_test/Databricks_MLOPS

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Install Databricks CLI
        run: |
          pip install databricks-cli

      - name: Extract Branch Name
        id: extract_branch
        shell: bash
        run: echo "BRANCH_NAME=$(echo ${GITHUB_REF#refs/heads/})" >> $GITHUB_ENV

      - name: Configure Databricks Jobs API
        run: databricks jobs configure --version=2.1

      - name: Run Databricks Job
        run: |
          databricks jobs run-now --job-id 562987822356293          
